*.gem
*.rbc
.bundle
.config
.ruby-gemset
.ruby-version
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/support/test_server.yml
test/tmp
test/version_tmp
tmp
